.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url("2wmnopposite.jpg"), url("2brosindesert.jpg"), url("2brosindesert2.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    height: 100vh;
    background-size: 400px, 400px, 350px;
    background-position: left, center, right;

}

nav {
    position: sticky;
    text-align: left;
    top: 0;
    width: 100%;
    margin: auto;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 10px;
    top: 0;
    z-index: 1;


}



nav ul li {

    list-style: absolute;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    margin: 5px;
    color: black;

}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
}



.logo {
    font-size: 35px;
    font-weight: bold;
    padding: 0px 50px;
}



body {
    background-image: url("wmninmeadow.jpg");
    background-size: 500px;
    background-repeat: repeat;

}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 1rem;
}