/* Base Styling */
* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.box {
    color: white;
    /* font-size: 100px; */
    text-align: center;
    padding: 15px;
}

.box1 {
    background-color: #ff4757;
}

.box2 {
    background-color: #1e90ff;
}

.box3 {
    background-color: #2ed573;
}

.container {
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    height: 800px;
}

.innerItem {
    height: 100px;
    width: 100px;
    background-color: darkorange;
    border: 2px solid black;
}

/* Flexbox Code - Below  */
.container {
    display: flex;
    /* Flex-Direction - Controls our main axis */
    /* set to row by default  */
    /* flex-direction: column; */

    /* Flex-wrap - Controls how or if our elements will
    wrap if the container is too small to fit them */
    /* No wrap is the default setting */
    /* flex-wrap: wrap; */

    /* Justify-content - controls how elements are 
    distributed across the main axis */
    /* Set to flex-start by default */
    /* justify-content: space-between; */
    /* justify-content: center; */

    /* Align-Items - how we align elements on the
    secondary axis*/
    /* Set to stretch by default */
    /* align-items: center; */

    /* Align-content - controls how elements are aligned
    on our secondary axis *ONLY* if flex wrap is in effect */
    /* align-content: space-between; */

    flex-direction: column;
    justify-content: center;

}

.box2 {
    display: flex;
    justify-content: center;
}

.box1 {
    /* Align self - allows us to align indivual items */
    /* align-self: center; */

    /* Flex-basis - set a minimum width for our elements
    if the container provides enough space */
    /* flex-basis: 500px; */

    /* Flex-grow - takes a number value */
    /* Sets the rate at which an element will grow
    into available space */
    /* flex-grow: 1; */

    /* Flex-shrink - is the reverse of flex-grow */
    /* flex-shrink: 2; */

}

.box2 {
    /* flex-basis: 500px; */
    /* flex-grow: 3; */
    /* flex-shrink: 0; */
}

.box3 {
    /* flex-basis: 300px; */
}